/* below the fold CSS goes here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* LEFT LUNCH */

/* reset header height */
header {
    height: 0;
}

/* reset footer padding */
footer {
    padding: 0;
}

/* reset main section padding */
main .section {
    padding: 0;
}

main {
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1200px;
    width: 860px;
    margin: 0 auto;
    height: 100vh;
}

@media (min-height: 900px) {
    main {
        overflow-y: hidden;
    }
}

.section.lunch-hero {
    width: 20rem;
}

.section.lunch-footer img {
    height: 10rem;
}